<% provide(:title, 'Home') %>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span9">
			<div class="hero-unit">
				<h1>Welcome</h1>
				<p>This my personal website and is a work in progress.</p>
				<p>The site has various highlights of my work along with insight into some of my hobbies, insights, humor, and random musing. Enjoy!</p>
				<p>Click on the various menus such as my Bio for additional work and resume information.</p>
				 <br>
				 	
				 </br>
				</p>
				<p class="center">Check out <%= link_to "my Bio", "#{bio_path}" %> if you want to see if I fit with a company or new venture</p>	
				<p class="center">Or <%= mail_to "paul@paulwanless.com", "email me", :subject => "Job/Consulting Inquiry from PaulWanless.com" %> to inquire about my available for positions,</p> 
				<p class="center">consulting, or just to say hi.</p>
			</div>

		</div>
		<div class="span2 sidebar">
			<div class="" id="twitter">
				<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
				<script>
				new TWTR.Widget({
				  version: 2,
				  type: 'profile',
				  rpp: 5,
				  interval: 31000,
				  width: 200,
				  height: 300,
				  theme: {
				    shell: {
				      background: '#b8b8b8',
				      color: '#000000'
				    },
				    tweets: {
				      background: '#ffffff',
				      color: '#000000',
				      links: '#2e7dd1'
				    }
				  },
				  features: {
				    scrollbar: true,
				    loop: false,
				    live: true,
				    behavior: 'all'
				  }
				}).render().setUser('paulwanless3').start();
				</script>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid badges">
			<nav class="center">
					<%= link_to image_tag("home/linode.png", size: "70x70", alt: "Linode"), "http://www.linode.com/?r=4db1065a79e9db35d9a1840b8e31044b9fcd8dda" %>
					<%= link_to image_tag("home/mongodb-blue.png", alt: "MongoDB"), 'http://mongodb.org' %>
					<%= link_to image_tag("home/rails.png", alt: "Rails"), 'http://rubyonrails.org' %>
			</nav>
		</div>
	</div>	
</div>
