<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div>

<!-- recaptcah script not using gem	 -->
  <script type="text/javascript"
     src="http://www.google.com/recaptcha/api/challenge?k=6LdCj9MSAAAAACenIOEOMvd0S90OvgI_RsusFl6m">
  </script>

  <noscript>
     <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LdCj9MSAAAAACenIOEOMvd0S90OvgI_RsusFl6m"
         height="300" width="500" frameborder="0"></iframe><br>
     <textarea name="recaptcha_challenge_field" rows="3" cols="40">
     </textarea>
     <input type="hidden" name="recaptcha_response_field"
         value="manual_challenge">
  </noscript>


  <div><%= f.submit "Sign in" %></div>
<% end %>

<%= render "links" %>