<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
		  <%= link_to "Paul Wanless", root_path , id: "logo" %>	
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",  				root_path %></li>
          <li><%= link_to "Bio",   				bio_path %></li>
          <li><%= link_to "Work Portfolio", 	work_portfolio_path %></li>
          <li><%= link_to "Engineering Tools", 	engineering_tools_path %></li>
		  <li><%= link_to "Blog", 				blog_path %></li>
        </ul>
      </nav>
    </div>
  </div>
  <div>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-30727538-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	</div>
</header>