<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= stylesheet_link_tag "fancybox/source/jquery.fancybox", :media => "screen" %>
	  <%= javascript_include_tag "fancybox/source/jquery.fancybox.pack" %>

	
	  <%= csrf_meta_tags %>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <%= render 'layouts/shim' %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<%= yield %>
		</div>
	</body>

	<%= render 'layouts/footer' %>

</html>
