<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	  <![endif]-->
	</head>
	<body>
	    <header class="navbar navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
			  <% link_to "Paul Wanless", '#', id: "logo" %>	
	          <nav>
	            <ul class="nav pull-right">
	              <li><%= link_to "Home",    '#' %></li>
	              <li><%= link_to "Bio",    '#' %></li>
	              <li><%= link_to "Work Portfolio", '#' %></li>
	              <li><%= link_to "Engineering Tools", '#' %></li>
	            </ul>
	          </nav>
	        </div>
	      </div>
	    </header>
		<div class="container">
			<%= yield %>
		</div>
	</body>
	<footer>
		<div class="">
          <p style="" class="">© <%= (Time.now).strftime("%Y") %> Paul Wanless.  All Rights Reserved</p>
        </div>
	</footer>
</html>
