<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	
	  <%= csrf_meta_tags %>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta name="google-site-verification" content="yc9djCUCO-I2aHbEkE-M-yr3AEgrNK1IvJJlfB4aC3I" />
	  <meta name="keywords" content="paul wanless, hpw, digital, dental, digital dentistry, cos, brontes, howard paul wanless III, rapid prototyping, additive, additive manufacturing, sla, stereolithography, laboratory, 3M, mmm, outsource manufacturing, manufacturing, 3d systems, supply chain, lean, six sigma, optimization, process, engineer, linked in, biography, work experience, rails, NPI" />
	  <meta name="author" content="Paul Wanless"/>
	  <%= render 'layouts/shim' %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<%= yield %>
		</div>
	</body>

	<%= render 'layouts/footer' %>

</html>
